@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
header{
padding-bottom: 100px;
display: inline-block;
padding-left: 50px;
padding-top: 60px;
width: 100%;
height: 100%;
background-image: url(images/05.jpg);
margin-bottom: 5px;
border-radius: 5px;
font-family: 'Bubbler One', sans-serif;
}
.content{
height: 800px;
width: 100%;
background-image: url(images/01.jpg);
background-repeat: no-repeat;
font-family: 'Bubbler One', sans-serif;
}
body{
font-family: 'Bubbler One', sans-serif;
font-weight: bold;
font-size: 24px;
margin: 0 auto;	5
}
a{
	text-decoration: none;
	color: black;
  
}
header > ul > li  {
display: inline-block;
}
header > ul > li>a {
display: inline-block;
padding-left: 80px;
}
d2{
font-size: 35px;
}
.image{
padding-left: 400px;
padding-top: 20px;

}
.for{
font-size: 45px;
text-align: center;
padding-top: 35px;
}
.footer{
background-color: #6495ed;
font-size: 35px;
height: 150px;
text-align: center;
}
.footer > p{
	text-align: center;
}