body{
	background: #efefef url(images/geometry2.png);
	margin: 0;
	padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif;
}

/*Структура сайта*/
div.header{
background: #101417;

}
div.mid{
	width: 1000px;
	margin: 0 auto;
}
/*Шапка сайта*/
div.topmenu{
	float: right;	
	height: 70px;
	line-height: 70px;
}
div.topmenu a {
	margin: 0 0 0 15px;
  color: #1683a3;
}
a {
text-decoration: none;
}
div.topmenu a:hover{
color: white;	
}
div.afisha{
padding: 20px 50px 0px 50px;
background: #f2f2f2 url(images/headline.png) top repeat-xtt;
}
div.afisha img {
	float: left;
}
div.clear {
	clear: both;
}